body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #cfd4db;
}

/* Центровка */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Основная карточка */
.card {
    background: #e9e9e9;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    gap: 40px;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* Левая часть */
.left {
    width: 500px;
}

/* Верхний ряд */
.buttons-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

/* Кнопки */
.btn {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

/* Синие */
.primary {
    background: #2f7de1;
    color: white;
}

.primary:hover {
    background: #2568bd;
}

/* Красная */
.danger {
    background: transparent;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    margin-bottom: 10px;
}

.danger:hover {
    background: #ff4d4d;
    color: white;
}

/* Серая */
.secondary {
    background: #dcdcdc;
    color: #3b82f6;
}

.secondary:hover {
    background: #cfcfcf;
}

/* Правая часть */
.right img {
    width: 260px;
}


.btn.secondary {
    background: #dcdcdc;
    color: #3b82f6;
    width: 100%;          /* <-- добавляем */
    padding: 12px;
}